<!Doctype html>  
<html>

<head>  

<title>页面布局</title>  

<meta charset="utf-8"><!--name="viewport" content="width=device-width, initial-scale=1.0"  -->
<!-- 引入 Bootstrap -->
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/main.css">

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>


<style type="text/css">
	.queryConds{
		width: 600px; 
		background-color: #E0E0E0;
		border-style: solid;
		border-width: 2px;

	}

	.queryDSL{
		width: 600px;
		background-color: #E0E0E0;
		border-style: solid;
		border-width: 2px;


	}

	.inputDSL{
		width: 500px;
		overflow-y:visible;
	}

</style>
</head>


<body ng-app="myApp" ng-controller="myCtrl">

<div class="queryType">
	<input type="radio" name="queryType" ng-model="queryType" ng-value="comp" ng-checked="true" ng-init="queryType='comp'"/>组合条件
	<input type="radio" name="queryType" ng-model="queryType" ng-value="DSL" />DSL语句
	
</div>

<div id="div1" class="queryConds" ng-show="queryType=='comp' " >

	<button class="btn btn-default btn-sm" ng-click="addCond()">新增</button>
	<button class="btn btn-default btn-sm" ng-click="delAllCond()">删除所有</button>
    <br><br>
    
    <div class="logicOper">
        <label>条件逻辑：</label>
        <input type="radio" name="logicOper" ng-model="logicOper" value="AND" ng-checked="true" ng-init="logicOper='AND'"/>全部满足
        <input type="radio" name="logicOper" ng-model="logicOper" value="OR"/>任一满足  
        
	</div>
    
	<div ng-repeat="cond in conds">
		<select ng-model="cond.fieldName" ng-options="field for field in fields"></select>
		<select ng-model="cond.selectedOper" ng-options= "oper.id as oper.name for oper in opers"></select>

		<input type="text" ng-model="cond.fieldValue" />
		<a ng-show="$index!=0" style="color:red;font-size:11px" ng-click="delCond($index)">删除</a>
	</div>

	<button class="btn btn-default btn-sm " ng-click="search()">搜索</button>	
</div>


<div class="queryDSL" ng-show="queryType=='DSL' " >
请输入DSL：<textarea class="inputDSL" name="inputDSL" ng-model="inputDSL"> </textarea>
</div>

</body>

<script type="text/javascript" src="./index.js"></script>

</html>  