@charset "utf-8";
body { 
	position: relative;
	font-family:Verdana; 
	font-size:14px; 
	margin:0;
}

.top-menu { 
	height:50px; 
	background-color:#6cf; 

}


.level2-menu { 
	float:left; 
	min-width:60px; 
	height:100%;
	background-color:#9ff;
}

.query_cond{
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #dff0d8;
	position:absolute;
	z-index: 100;
	width: 500px;
	height: 500px;
	background-color: #eee;
	left: 200px;
	display: block;

}